
.dir_rtl {
  direction: rtl;
}

.container {
  background: gainsboro;
}

.bb-custom-wrapper .bb-bookblock {
  height: 90%;
}

.bb-custom-wrapper > nav {
  bottom: 110px;
}

.bb-custom-wrapper > nav a {
  background: rgb(77, 191, 139);
  border-radius: 50%;
}

.logo {
  float: left;
  height: 100%;
  width: 100px;
  background: rgba(0, 0, 0, 0.58);
  color: #71dda3;
  text-align: center;
  padding-top: 40px;
  position: fixed;  
}

.lesson-list {
  height: 10%;
  overflow-y: hidden;
  overflow-x: scroll;
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lesson-list-inner {
  width: 200%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.lesson-list .first.lesson {
  margin-left: 110px;
}

.lesson-list .lesson {
  width: auto;
  float: left;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.75);
  color: #7b847b;
  margin: 30px 5px 0 5px;
  border-radius: 4px;
  font-size: 14px;
}

.lesson-list .lesson:hover {
  cursor: pointer;
  background: #fff;
}