.items .item {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    float: left;
}

.items .item .row {
    padding: 0;
    border: 0;
    color: #5F5F5F;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    line-height: 16px;
    display: block;
}

.items .item .row .box {
    display: table;
    width: 100%;
    height: 86px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    table-layout: fixed;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #E6E7E9;
}

.item .row .box .img-box {
    display: table-cell;
    width: 103px;
    padding: 0;
    vertical-align: middle;
    text-align: left;
}

.item .row .box img {
    display: block;
    width: 86px;
    height: 86px;
}

.item .row .box .info-box {
    display: table-cell;
    vertical-align: middle;
}

.item .row .box .info-box .title {
    display: block;
    max-height: 40px;
    margin-bottom: 3px;
    overflow: hidden;
}

.item .row .box .info-box .title a {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #05a840;
    cursor: pointer;
    text-decoration: none;
}

.item .row .box .button-box {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
    text-align: center;
}


button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 0.8em 1.4em;
    padding-right: 3.7em;
    background: #05a840;
    border: none;
    color: white;
    transition: 0.2s;
  }
  button:before,
  button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 1.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: 0.2s;
    transform-origin: 50% 60%;
  }
  button:before {
    background: rgba(0, 0, 0, 0.1);
  }
  button:hover {
    background: #0f8343;
  }
  button:active,
  button:focus {
    background: #002e3f;
    outline: none;
  }
  button {
    min-width: 10em;
  }